<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATw3xQHCo_t19-Z9hd1TiZMWxjxcf-ctQ</string>
	<key>GCM_SENDER_ID</key>
	<string>103336467618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abilenewebsitedesign.bubbs</string>
	<key>PROJECT_ID</key>
	<string>bubbs-app-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbs-app-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103336467618:ios:e00225855f42b52849cbfb</string>
</dict>
</plist>